.map-panel {
    background-color: hsl(210, 29%, 29%);
    color: white;
    width: 1200px;
  }
  
  .map-content {
    padding: 0 !important;
    width: 1200px;
  }
  
  .map-container {
    width: 1200px;
    height: 930px;
  }