* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.app {
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.main-content {
  flex: 1;
  padding: 10px;
  background-color: #2c3e50;
  overflow: auto;
}

.content-container {
  flex: 1;
  display: flex;
  justify-content: space-between;
  padding: 10px;
  background-color: #2c3e50;
  overflow: auto;
  gap: 10px;
}

.sidebar {
  width: 500px;
  background-color: #34495e;
  display: flex;
  flex-direction: column;
  padding: 10px;
}

.layout {
  background-color: #2c3e50;
}

.react-grid-item {
  transition: all 200ms ease;
}

.react-grid-item.resizing {
  transition: none;
}
